@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Unbounded:wght@600;700&display=swap');
.Search_input_wrap {
    @apply flex relative flex-col justify-center
}

.Search_input:hover {
    background: #e4e7ec;
}

.Search_icon {
    @apply absolute;
    left: 16px;
}

.Search_input {
    height: 56px;
    background-color: #f2f4f7;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #101828;
    caret-color: #00c981;
    border: none;
    padding: 16px 16px 16px 56px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    background: #F2F4F7;
    /* identical to box height, or 171% */
    font-feature-settings: 'pnum' on, 'lnum' on;
    /* Gray / 500 */
    color: #667085;
}

.Search_input:focus {
    outline: none;
    border: 1px solid #00c981;
    background: #e4e7ec;
    -webkit-box-shadow: 0 0 0 4px rgba(55,242,173,.1);
    -moz-box-shadow: 0 0 0 4px rgba(55,242,173,.1);
    box-shadow: 0 0 0 4px rgba(55,242,173,.1);
}