@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Unbounded:wght@600;700&display=swap');
.Gift_success_wrap {
    @apply flex flex-col items-center;
    gap: 32px;
}

.Gift_success_top {
    @apply flex flex-col items-center justify-between;
    gap: 32px;
}

.divide {
    border: 1px solid #E4E7EC;
}

.Gift_success_top p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #101828;
}

.Gift_success_result {
    @apply flex flex-col items-start w-full;
    gap: 25px;
    padding: 24px;
    border: 1px solid #E4E7EC;
    border-radius: 20px;
}

.Gift_sent_wrap {
    @apply flex flex-col items-start p-0 w-full;
    gap: 14px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 24px;
    /* identical to box height, or 92% */
    font-feature-settings: 'pnum' on, 'lnum' on;
    /* Gray / 900 */
    color: #101828;
}

.Gift_sent_wrap span:first-child {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    font-feature-settings: 'pnum' on, 'lnum' on;
    /* Gray / 500 */
    color: #667085;
}

.Gift_sent_detail {
    @apply flex items-end p-0;
    gap: 12px;
}

.Gift_checkout_main {
    @apply flex flex-col items-start p-0 w-full;
    gap: 8px;
}

.Gift_checkout_main_top {
    @apply flex items-center justify-between p-0 w-full;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    font-feature-settings: 'pnum' on, 'lnum' on;
    /* Gray / 900 */
    color: #101828;
}

.Gift_checkout_main_bottom {
    @apply flex items-center justify-between p-0 w-full;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    text-align: right;
    font-feature-settings: 'pnum' on, 'lnum' on;
    /* Gray / 500 */
    color: #667085;
}
.Gift_checkout_main_bottom span:first-child {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 24px;
    /* identical to box height, or 92% */
    font-feature-settings: 'pnum' on, 'lnum' on;
    /* Gray / 900 */
    color: #101828;
}