.MainLayout_container {
    @apply flex flex-col h-full relative;
    background-color: #fff;
    border-radius: 40px;
    gap: 16px;
    max-width: 536px;
}


.MainLayout_dollar_coin {
    @apply inline absolute;
    left: -70px;
    top: 430px;
    z-index: -1;
}

.MainLayout_eth_coin {
    @apply inline absolute;
    top: 50px;
    right: -110px;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    .MainLayout_container {
        width: 95%;
        margin: auto;
    }
    .MainLayout_eth_coin {
        display: none;
    }
    .MainLayout_dollar_coin {
        display: none;
    }
}

@media screen and (min-width: 601px) {
    .MainLayout_container {
        width: 100%;
        margin: auto;
    }
    .MainLayout_eth_coin {
        display: none;
    }
    .MainLayout_dollar_coin {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .MainLayout_container {
        /* width: 536px; */
    }
    .MainLayout_eth_coin {
        display: block;
    }
    .MainLayout_dollar_coin {
        display: block;
    }
}